{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/forms.css' %}">    
<div class="form-container">
    <div class="register-container-text">
        <h2 class="text-center register-text">Login</h2>
        <p class="text-center register-text">Please login to your account. If you do not have an account, you can register <a href="{% url 'accounts:register' %}">here</a>.</p>
    </div>
        <form novalidate action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary mt-3 button">Sign in</button>
        </form>
    </div>
{% endblock %}