{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/forms.css' %}">
    <div class="form-container">
    <div class="register-container-text">
        <h2 class="text-center register-text">Register</h2>
        <p class="text-center register-text">Create an account to get started!</p>
    </div>
        <form novalidate action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary mt-3 button">Register</button>
        </form>
    </div>
{% endblock %}
